/* Dark Mode Theme */
.dark {
   background: #15202b;
   color: white;
   transition: background 0.4s ease-in-out;
}

.grid {
   width: 100vw;
   margin-bottom: 40px;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 20px;
   row-gap: 20px;
}

.order-1 {
   order: 1;
}

.order-2 {
   order: 2;
}

.order-3 {
   order: 3;
}

.order-4 {
   order: 4;
}

.order-5 {
   order: 5;
}

.order-6 {
   order: 6;
}

.grid__item {
   padding: 20px;
   min-height: 100px;
   text-align: center;
}

.colums-2 {
   grid-column: span 12;
}

@media screen and (min-width: 768px) {
   .colums-2 {
      grid-column: span 6;
   }
}

.colums-4 {
   grid-column: span 3;
}

.colums-3 {
   grid-column: span 4;
}

.colums-6 {
   grid-column: span 12;
}

@media screen and (min-width: 488px) {
   .colums-6 {
      grid-column: span 4;
   }
}

@media screen and (min-width: 768px) {
   .colums-6 {
      grid-column: span 2;
   }
}

.background-variation {
   background-color: rgb(244, 191, 239);
}

span {
   display: inline;
}

.progress {
   position: relative;
   height: 2px;
   display: block;
   width: 100%;
   background-color: white;
   border-radius: 2px;
   background-clip: padding-box;
   /*margin: 0.5rem 0 1rem 0;*/
   overflow: hidden;
}
.progress .indeterminate {
   background-color: black;
}
.progress .indeterminate:before {
   content: "";
   position: absolute;
   background-color: #2c67b1;
   top: 0;
   left: 0;
   bottom: 0;
   will-change: left, right;
   -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
      infinite;
   animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
      infinite;
}
.progress .indeterminate:after {
   content: "";
   position: absolute;
   background-color: #2c67b1;
   top: 0;
   left: 0;
   bottom: 0;
   will-change: left, right;
   -webkit-animation: indeterminate-short 2.1s
      cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
   animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
      infinite;
   -webkit-animation-delay: 1.15s;
   animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
   0% {
      left: -35%;
      right: 100%;
   }
   60% {
      left: 100%;
      right: -90%;
   }
   100% {
      left: 100%;
      right: -90%;
   }
}
@keyframes indeterminate {
   0% {
      left: -35%;
      right: 100%;
   }
   60% {
      left: 100%;
      right: -90%;
   }
   100% {
      left: 100%;
      right: -90%;
   }
}
@-webkit-keyframes indeterminate-short {
   0% {
      left: -200%;
      right: 100%;
   }
   60% {
      left: 107%;
      right: -8%;
   }
   100% {
      left: 107%;
      right: -8%;
   }
}
@keyframes indeterminate-short {
   0% {
      left: -200%;
      right: 100%;
   }
   60% {
      left: 107%;
      right: -8%;
   }
   100% {
      left: 107%;
      right: -8%;
   }
}
